@using Blazor2026.Services

<div class="zoom-control" style="transition: background-color 0.3s ease;">
    <MudIconButton Icon="@Icons.Material.Filled.Remove"
                   Color="Color.Primary"
                   Size="Size.Small"
                   OnClick="ZoomService.ZoomOut" />

    <MudSlider T="double"
               Min="@ZoomService.MinimumZoom"
               Max="@ZoomService.MaximumZoom"
               Step="0.1"
               Value="@ZoomService.ZoomLevel"
               ValueChanged="@OnSliderChange"
               Color="Color.Primary"
               Class="zoom-slider" />

    <MudChip T="string" Size="Size.Small" Variant="Variant.Text">
        @ZoomService.GetZoomPercentage()%
    </MudChip>

    <MudIconButton Icon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   Size="Size.Small"
                   OnClick="ZoomService.ZoomIn" />
</div>
