@using Blazor2026.Services

<div class="zoom-control">
    <MudIconButton Icon="@Icons.Material.Filled.Remove"
                   Color="Color.Primary"
                   Size="Size.Small"
                   OnClick="ZoomService.ZoomOut" />

    <MudSlider T="double"
               Min="@ZoomService.MinimumZoom"
               Max="@ZoomService.MaximumZoom"
               Step="0.1"
               Value="@ZoomService.ZoomLevel"
               ValueChanged="@OnSliderChange"
               Color="Color.Primary"
               Class="zoom-slider" />
    @{
        var zoomText = ZoomService.GetZoomPercentage().ToString() + "%";
    }
    <MudText>@zoomText</MudText>

    <MudIconButton Icon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   Size="Size.Small"
                   OnClick="ZoomService.ZoomIn" />
</div>
